<div class="text-center m-md-3">
  <h1>Rick & Morty</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 my-md-3 justify-content-center" *ngFor="let p of personajes">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]= "p.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Status: {{p.status}}</li>
          <li class="list-group-item">Especie: {{p.species}}</li>
          <li class="list-group-item">Localidad: {{p.origin.name}} - {{p.location.name}}</li>
          <li class="list-group-item">Genero: {{p.gender}}</li>
          <li class="list-group-item">Fecha: {{p.created | date: 'dd/MM/yyyy'}}</li> <!-- Formato Fechas -->
          <li class="list-group-item">Identificador: {{p.id}}</li>
          <!-- <li class="list-group-item">Identificador: {{p.episode}}</li> -->
        </ul>
        <select class="list-group-item">
          <option value="" *ngFor="let e of p.episode;let i = index"><a [href]="e">Episodio {{i+1}}</a></option>
        </select>
      </div>
    </div>
  </div>
</div>
